[data-uk-lightbox] a {
	cursor: zoom-in;
}

html,
body {
	overflow-x: hidden;

	* {
		text-shadow: 0 1px 10px rgba(0, 4, 29, .9);
	}
}

input,
textarea,
button {
	text-shadow: none;
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}