[data-uk-lightbox] a {
	cursor: zoom-in;
}

html,
body {
	overflow-x: hidden;

	* {
		text-shadow: 0 1px 14px rgba($blue, .8);
	}
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}