.footer {
	font-size: 0.9rem;

	.partners {
		a {
			margin-bottom: 15px;
			margin-right: 20px;
		}

		img {
			max-height: 45px;
			width: auto;
			height: 100%;
			filter: invert(1);
			mix-blend-mode: screen;
		}
	}
}