.header {
	padding-top: 60px;

	.uk-logo {

		img {
			max-width: 228px;
			width: 100%;
			filter: invert(1) brightness(1.4);
			mix-blend-mode: screen;
		}

		&:hover img {
			filter: invert(1) brightness(1.8);
		}
	}

	@media (min-width: $breakpoint-small) {
		.uk-logo img {
			max-width: 265px;
		}
	}
}